.card {
    padding: 2.8rem;
    border-radius: 6px;
    background-color: $col-white;
    position: relative;
    max-width: 300px;

    .like {
        position: absolute;
        left: 20px;
        bottom: 20px;
        padding: 1rem;
        border-radius: 500px;
    }
}