* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

img {
  width: 30rem;
}

.head__heading {
  margin: 0 auto;
}

.select__Form {
  align-items: center;
}

.image__container {
  display: flex;
  justify-content: space-between;
}

.list__item {
  width: 40rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.viewed__photo {
  display: flex;
  justify-content: space-around;
}

.liked {

  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(228, 101, 59);
}