* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

img {
  width: 40rem;
  border-radius: 5px;
  ;
}

#album {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-left: 2rem;

}

.album-item {
  width: 46rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6rem;
}

.picked {
  width: 25px;
  height: 25px;
  border: solid 2px black;
  border-radius: 15px;
}

.liked {
  background-color: red;
  ;
}